In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cost-of-living.csv")

In [3]:
# Remove the "Rank" and "Cost of Living Plus Rent Index" columns
df = df.drop(columns=['Rank', 'Cost of Living Plus Rent Index'])

print(df.head())

                  City  Cost of Living Index  Rent Index  Groceries Index  \
0    Hamilton, Bermuda                149.02       96.10           157.89
1  Zurich, Switzerland                131.24       69.26           136.14
2   Basel, Switzerland                130.93       49.38           137.07
3     Zug, Switzerland                128.13       72.12           132.61
4  Lugano, Switzerland                123.99       44.99           129.17

   Restaurant Price Index  Local Purchasing Power Index
0                  155.22                         79.43
1                  132.52                        129.79
2                  130.95                        111.53
3                  130.93                        143.40
4                  119.80                        111.96

In [4]:
# Filter out rows where the city is not in the United States
df = df[df['City'].str.contains(", [A-Z]{2}, United States")]

print(df.head())

                                City  Cost of Living Index  Rent Index  \
10       Honolulu, HI, United States                103.65       65.07
13       New York, NY, United States                100.00      100.00
18  Santa Barbara, CA, United States                 95.01       78.42
20       Berkeley, CA, United States                 94.36       88.22
21  San Francisco, CA, United States                 93.91      108.42

    Groceries Index  Restaurant Price Index  Local Purchasing Power Index
10           114.92                   94.28                         89.24
13           100.00                  100.00                        100.00
18            99.53                   99.41                         93.86
20           106.23                   78.85                         85.78
21            97.05                   93.40                        133.16

In [5]:
# Split the "City" column into "city" and "state" columns
df[['city', 'state', 'country']] = df['City'].str.rsplit(', ', n=2, expand=True)

In [6]:
# Drop the original "City" column and the 'country' column as it's not needed anymore
df = df.drop(columns=['City', 'country'])

print(df.head())

    Cost of Living Index  Rent Index  Groceries Index  Restaurant Price Index  \
10                103.65       65.07           114.92                   94.28
13                100.00      100.00           100.00                  100.00
18                 95.01       78.42            99.53                   99.41
20                 94.36       88.22           106.23                   78.85
21                 93.91      108.42            97.05                   93.40

    Local Purchasing Power Index           city state
10                         89.24       Honolulu    HI
13                        100.00       New York    NY
18                         93.86  Santa Barbara    CA
20                         85.78       Berkeley    CA
21                        133.16  San Francisco    CA

In [7]:
# Rearrange columns so "city" and "state" are first
columns = ['city', 'state'] + [col for col in df.columns if col not in ['city', 'state']]
df = df[columns]

print(df.head())

             city state  Cost of Living Index  Rent Index  Groceries Index  \
10       Honolulu    HI                103.65       65.07           114.92
13       New York    NY                100.00      100.00           100.00
18  Santa Barbara    CA                 95.01       78.42            99.53
20       Berkeley    CA                 94.36       88.22           106.23
21  San Francisco    CA                 93.91      108.42            97.05

    Restaurant Price Index  Local Purchasing Power Index
10                   94.28                         89.24
13                  100.00                        100.00
18                   99.41                         93.86
20                   78.85                         85.78
21                   93.40                        133.16

In [8]:
# State abbreviations to full names mapping
state_mapping = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'DC' : 'District of Columbia', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi',
    'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire',
    'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina',
    'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania',
    'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee',
    'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington',
    'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}

# Replace state abbreviations with full names
df['state'] = df['state'].map(state_mapping)

print(df.head())

             city       state  Cost of Living Index  Rent Index  \
10       Honolulu      Hawaii                103.65       65.07
13       New York    New York                100.00      100.00
18  Santa Barbara  California                 95.01       78.42
20       Berkeley  California                 94.36       88.22
21  San Francisco  California                 93.91      108.42

    Groceries Index  Restaurant Price Index  Local Purchasing Power Index
10           114.92                   94.28                         89.24
13           100.00                  100.00                        100.00
18            99.53                   99.41                         93.86
20           106.23                   78.85                         85.78
21            97.05                   93.40                        133.16

In [9]:
# Remove rows 
df = df.dropna(subset=['city', 'state'])

In [10]:
# Convert 'city' and 'state' columns to lowercase
df['city'] = df['city'].str.lower()
df['state'] = df['state'].str.lower()

print(df.head())

             city       state  Cost of Living Index  Rent Index  \
10       honolulu      hawaii                103.65       65.07
13       new york    new york                100.00      100.00
18  santa barbara  california                 95.01       78.42
20       berkeley  california                 94.36       88.22
21  san francisco  california                 93.91      108.42

    Groceries Index  Restaurant Price Index  Local Purchasing Power Index
10           114.92                   94.28                         89.24
13           100.00                  100.00                        100.00
18            99.53                   99.41                         93.86
20           106.23                   78.85                         85.78
21            97.05                   93.40                        133.16

In [11]:
# Function to convert "saint " to "st. " in city names
def convert_saint_to_st(city_name):
    if isinstance(city_name, str):
        # Replace "saint " with "st. " (case-sensitive)
        return city_name.replace("saint ", "st. ")
    return city_name

# Apply the function to the 'city' column
df['city'] = df['city'].apply(convert_saint_to_st)

In [12]:
# Replace spaces with underscores and convert to lowercase for all column names
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

print(df.head())

             city       state  cost_of_living_index  rent_index  \
10       honolulu      hawaii                103.65       65.07
13       new york    new york                100.00      100.00
18  santa barbara  california                 95.01       78.42
20       berkeley  california                 94.36       88.22
21  san francisco  california                 93.91      108.42

    groceries_index  restaurant_price_index  local_purchasing_power_index
10           114.92                   94.28                         89.24
13           100.00                  100.00                        100.00
18            99.53                   99.41                         93.86
20           106.23                   78.85                         85.78
21            97.05                   93.40                        133.16

In [13]:
# Save the modified dataframe to a new CSV file
df.to_csv("clean-cost-of-living.csv", index=False)

In [14]:
# Generate csv to import into cost_of_living table in database

# Load the cost of living data
cost_of_living_df = pd.read_csv("clean-cost-of-living.csv")

# Load city data
city_df = pd.read_csv("city-table.csv")
city_df.rename(columns={'id': 'city_id'}, inplace=True)

# Merge the DataFrames to map city_id based on city and state
merged_df = pd.merge(cost_of_living_df, city_df, on=['city', 'state'], how='left')  

# Check for any entries that did not get a city_id
print(merged_df[merged_df['city_id'].isnull()])

print(merged_df.head())

Empty DataFrame
Columns: [city, state, cost_of_living_index, rent_index, groceries_index, restaurant_price_index, local_purchasing_power_index, city_id]
Index: []
            city       state  cost_of_living_index  rent_index  \
0       honolulu      hawaii                103.65       65.07
1       new york    new york                100.00      100.00
2  santa barbara  california                 95.01       78.42
3       berkeley  california                 94.36       88.22
4  san francisco  california                 93.91      108.42

   groceries_index  restaurant_price_index  local_purchasing_power_index  \
0           114.92                   94.28                         89.24
1           100.00                  100.00                        100.00
2            99.53                   99.41                         93.86
3           106.23                   78.85                         85.78
4            97.05                   93.40                        133.16

   city_id
0     5958
1    20587
2     3074
3     1915
4     3045

In [15]:
# Reorder columns to make 'city_id' the first column
# Get a list of all columns, then filter out 'city_id'
cols = merged_df.columns.tolist()
cols = ['city_id'] + [col for col in cols if col != 'city_id']

# Reassign reordered columns back to the DataFrame
merged_df = merged_df[cols]

print(merged_df.head())

   city_id           city       state  cost_of_living_index  rent_index  \
0     5958       honolulu      hawaii                103.65       65.07
1    20587       new york    new york                100.00      100.00
2     3074  santa barbara  california                 95.01       78.42
3     1915       berkeley  california                 94.36       88.22
4     3045  san francisco  california                 93.91      108.42

   groceries_index  restaurant_price_index  local_purchasing_power_index
0           114.92                   94.28                         89.24
1           100.00                  100.00                        100.00
2            99.53                   99.41                         93.86
3           106.23                   78.85                         85.78
4            97.05                   93.40                        133.16

In [16]:
# Drop the city and state columns as they are no longer needed
merged_df.drop(columns=['city', 'state'], inplace=True)

print(merged_df.head())

   city_id  cost_of_living_index  rent_index  groceries_index  \
0     5958                103.65       65.07           114.92
1    20587                100.00      100.00           100.00
2     3074                 95.01       78.42            99.53
3     1915                 94.36       88.22           106.23
4     3045                 93.91      108.42            97.05

   restaurant_price_index  local_purchasing_power_index
0                   94.28                         89.24
1                  100.00                        100.00
2                   99.41                         93.86
3                   78.85                         85.78
4                   93.40                        133.16

In [17]:
# Save the updated DataFrame to a new CSV file, ready for database import
merged_df.to_csv('importable-cost-of-living.csv', index=False)