In [1]:
import pandas as pd
import os

In [3]:
# Get the current working directory
current_directory = os.getcwd()

# Name of CSV file
csv_filename = "Fortune_1000.csv" 

# Combine the current directory path with the CSV file name to get the full file path
dataset_path = os.path.join(current_directory, csv_filename)

df = pd.read_csv(dataset_path)

In [4]:
# Rename the column 'num. of employees' to 'num_of_employees'
df.rename(columns={'num. of employees': 'num_of_employees'}, inplace=True)

df.rename(columns={'Market Cap': 'market_cap'}, inplace=True)

df.rename(columns={'Ticker': 'ticker'}, inplace=True)

df.rename(columns={'company': 'company_name'}, inplace=True)

print(df.head())

         company_name  rank  rank_change   revenue   profit  num_of_employees  \
0             Walmart     1          0.0  572754.0  13673.0         2300000.0
1              Amazon     2          0.0  469822.0  33364.0         1608000.0
2               Apple     3          0.0  365817.0  94680.0          154000.0
3          CVS Health     4          0.0  292111.0   7910.0          258000.0
4  UnitedHealth Group     5          0.0  287597.0  17285.0          350000.0

        sector         city state newcomer ceo_founder ceo_woman profitable  \
0    Retailing  Bentonville    AR       no          no        no        yes
1    Retailing      Seattle    WA       no          no        no        yes
2   Technology    Cupertino    CA       no          no        no        yes
3  Health Care   Woonsocket    RI       no          no       yes        yes
4  Health Care   Minnetonka    MN       no          no        no        yes

  prev_rank                  CEO                        Website ticker  \
0       1.0  C. Douglas McMillon  https://www.stock.walmart.com    WMT
1       2.0      Andrew R. Jassy                 www.amazon.com   AMZN
2       3.0      Timothy D. Cook                  www.apple.com   AAPL
3       4.0          Karen Lynch      https://www.cvshealth.com    CVS
4       5.0      Andrew P. Witty      www.unitedhealthgroup.com    UNH

  market_cap
0     352037
1    1202717
2    2443962
3     125204
4     500468

In [6]:
# Remove the specified columns
columns_to_remove = ['city', 'state', 'ceo_founder', 'ceo_woman', 'profitable', 'CEO', 'Website']
df.drop(columns=columns_to_remove, inplace=True)

print(df.head())

         company_name  rank  rank_change   revenue   profit  num_of_employees  \
0             Walmart     1          0.0  572754.0  13673.0         2300000.0
1              Amazon     2          0.0  469822.0  33364.0         1608000.0
2               Apple     3          0.0  365817.0  94680.0          154000.0
3          CVS Health     4          0.0  292111.0   7910.0          258000.0
4  UnitedHealth Group     5          0.0  287597.0  17285.0          350000.0

        sector newcomer prev_rank ticker market_cap
0    Retailing       no       1.0    WMT     352037
1    Retailing       no       2.0   AMZN    1202717
2   Technology       no       3.0   AAPL    2443962
3  Health Care       no       4.0    CVS     125204
4  Health Care       no       5.0    UNH     500468

In [8]:
# List of columns to convert to integers
columns_to_convert = ['rank_change', 'revenue', 'profit', 'num_of_employees', 'prev_rank']

# Convert specified columns to integer, handling non-null values correctly
for column in columns_to_convert:
    # Remove decimals by converting to integers for non-null values
    df[column] = pd.to_numeric(df[column], errors='coerce').fillna(0).astype(int)

print(df.head())

         company_name  rank  rank_change  revenue  profit  num_of_employees  \
0             Walmart     1            0   572754   13673           2300000
1              Amazon     2            0   469822   33364           1608000
2               Apple     3            0   365817   94680            154000
3          CVS Health     4            0   292111    7910            258000
4  UnitedHealth Group     5            0   287597   17285            350000

        sector newcomer  prev_rank ticker market_cap
0    Retailing       no          1    WMT     352037
1    Retailing       no          2   AMZN    1202717
2   Technology       no          3   AAPL    2443962
3  Health Care       no          4    CVS     125204
4  Health Care       no          5    UNH     500468

In [9]:
# Name of CSV file
csv_filename = "processed-fortune-1000.csv" 

# Combine the current directory path with the CSV file name to get the full file path
dataset_path = os.path.join(current_directory, csv_filename)

# Save the modified dataset
df.to_csv(dataset_path, index=False)