In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("Fortune_1000.csv")

In [21]:
# Rename the column 'num. of employees' to 'num_of_employees'
df.rename(columns={'num. of employees': 'num_of_employees'}, inplace=True)

df.rename(columns={'Market Cap': 'market_cap'}, inplace=True)

df.rename(columns={'Ticker': 'ticker'}, inplace=True)

df.rename(columns={'company': 'name'}, inplace=True)

df.rename(columns={'Website': 'website'}, inplace=True)

df.rename(columns={'rank': 'curr_rank'}, inplace=True)

print(df.head())

                 name  curr_rank  rank_change   revenue   profit  \
0             Walmart          1          0.0  572754.0  13673.0
1              Amazon          2          0.0  469822.0  33364.0
2               Apple          3          0.0  365817.0  94680.0
3          CVS Health          4          0.0  292111.0   7910.0
4  UnitedHealth Group          5          0.0  287597.0  17285.0

   num_of_employees       sector         city state newcomer ceo_founder  \
0         2300000.0    Retailing  Bentonville    AR       no          no
1         1608000.0    Retailing      Seattle    WA       no          no
2          154000.0   Technology    Cupertino    CA       no          no
3          258000.0  Health Care   Woonsocket    RI       no          no
4          350000.0  Health Care   Minnetonka    MN       no          no

  ceo_woman profitable prev_rank                  CEO  \
0        no        yes       1.0  C. Douglas McMillon
1        no        yes       2.0      Andrew R. Jassy
2        no        yes       3.0      Timothy D. Cook
3       yes        yes       4.0          Karen Lynch
4        no        yes       5.0      Andrew P. Witty

                         website ticker market_cap
0  https://www.stock.walmart.com    WMT     352037
1                 www.amazon.com   AMZN    1202717
2                  www.apple.com   AAPL    2443962
3      https://www.cvshealth.com    CVS     125204
4      www.unitedhealthgroup.com    UNH     500468

In [22]:
# Remove the specified columns
columns_to_remove = ['CEO']
df.drop(columns=columns_to_remove, inplace=True)

print(df.head())

                 name  curr_rank  rank_change   revenue   profit  \
0             Walmart          1          0.0  572754.0  13673.0
1              Amazon          2          0.0  469822.0  33364.0
2               Apple          3          0.0  365817.0  94680.0
3          CVS Health          4          0.0  292111.0   7910.0
4  UnitedHealth Group          5          0.0  287597.0  17285.0

   num_of_employees       sector         city state newcomer ceo_founder  \
0         2300000.0    Retailing  Bentonville    AR       no          no
1         1608000.0    Retailing      Seattle    WA       no          no
2          154000.0   Technology    Cupertino    CA       no          no
3          258000.0  Health Care   Woonsocket    RI       no          no
4          350000.0  Health Care   Minnetonka    MN       no          no

  ceo_woman profitable prev_rank                        website ticker  \
0        no        yes       1.0  https://www.stock.walmart.com    WMT
1        no        yes       2.0                 www.amazon.com   AMZN
2        no        yes       3.0                  www.apple.com   AAPL
3       yes        yes       4.0      https://www.cvshealth.com    CVS
4        no        yes       5.0      www.unitedhealthgroup.com    UNH

  market_cap
0     352037
1    1202717
2    2443962
3     125204
4     500468

In [23]:
# List of columns to convert to integers
columns_to_convert = ['rank_change', 'num_of_employees', 'prev_rank']

# Convert specified columns to integer, handling non-null values correctly
for column in columns_to_convert:
    # Remove decimals by converting to integers for non-null values
    df[column] = pd.to_numeric(df[column], errors='coerce').fillna(0).astype(int)

print(df.head())

                 name  curr_rank  rank_change   revenue   profit  \
0             Walmart          1            0  572754.0  13673.0
1              Amazon          2            0  469822.0  33364.0
2               Apple          3            0  365817.0  94680.0
3          CVS Health          4            0  292111.0   7910.0
4  UnitedHealth Group          5            0  287597.0  17285.0

   num_of_employees       sector         city state newcomer ceo_founder  \
0           2300000    Retailing  Bentonville    AR       no          no
1           1608000    Retailing      Seattle    WA       no          no
2            154000   Technology    Cupertino    CA       no          no
3            258000  Health Care   Woonsocket    RI       no          no
4            350000  Health Care   Minnetonka    MN       no          no

  ceo_woman profitable  prev_rank                        website ticker  \
0        no        yes          1  https://www.stock.walmart.com    WMT
1        no        yes          2                 www.amazon.com   AMZN
2        no        yes          3                  www.apple.com   AAPL
3       yes        yes          4      https://www.cvshealth.com    CVS
4        no        yes          5      www.unitedhealthgroup.com    UNH

  market_cap
0     352037
1    1202717
2    2443962
3     125204
4     500468

In [24]:
# State abbreviations to full names mapping
state_mapping = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'DC' : 'District of Columbia', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi',
    'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire',
    'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina',
    'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania',
    'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee',
    'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington',
    'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}

# Replace state abbreviations with full names
df['state'] = df['state'].map(state_mapping)

print(df.head())

                 name  curr_rank  rank_change   revenue   profit  \
0             Walmart          1            0  572754.0  13673.0
1              Amazon          2            0  469822.0  33364.0
2               Apple          3            0  365817.0  94680.0
3          CVS Health          4            0  292111.0   7910.0
4  UnitedHealth Group          5            0  287597.0  17285.0

   num_of_employees       sector         city         state newcomer  \
0           2300000    Retailing  Bentonville      Arkansas       no
1           1608000    Retailing      Seattle    Washington       no
2            154000   Technology    Cupertino    California       no
3            258000  Health Care   Woonsocket  Rhode Island       no
4            350000  Health Care   Minnetonka     Minnesota       no

  ceo_founder ceo_woman profitable  prev_rank                        website  \
0          no        no        yes          1  https://www.stock.walmart.com
1          no        no        yes          2                 www.amazon.com
2          no        no        yes          3                  www.apple.com
3          no       yes        yes          4      https://www.cvshealth.com
4          no        no        yes          5      www.unitedhealthgroup.com

  ticker market_cap
0    WMT     352037
1   AMZN    1202717
2   AAPL    2443962
3    CVS     125204
4    UNH     500468

In [25]:
# Convert 'city' and 'state' columns to lowercase
df['city'] = df['city'].str.lower()
df['state'] = df['state'].str.lower()

print(df.head())

                 name  curr_rank  rank_change   revenue   profit  \
0             Walmart          1            0  572754.0  13673.0
1              Amazon          2            0  469822.0  33364.0
2               Apple          3            0  365817.0  94680.0
3          CVS Health          4            0  292111.0   7910.0
4  UnitedHealth Group          5            0  287597.0  17285.0

   num_of_employees       sector         city         state newcomer  \
0           2300000    Retailing  bentonville      arkansas       no
1           1608000    Retailing      seattle    washington       no
2            154000   Technology    cupertino    california       no
3            258000  Health Care   woonsocket  rhode island       no
4            350000  Health Care   minnetonka     minnesota       no

  ceo_founder ceo_woman profitable  prev_rank                        website  \
0          no        no        yes          1  https://www.stock.walmart.com
1          no        no        yes          2                 www.amazon.com
2          no        no        yes          3                  www.apple.com
3          no       yes        yes          4      https://www.cvshealth.com
4          no        no        yes          5      www.unitedhealthgroup.com

  ticker market_cap
0    WMT     352037
1   AMZN    1202717
2   AAPL    2443962
3    CVS     125204
4    UNH     500468

In [26]:
# Display initial data count for reference
print("Original number of rows:", df.shape[0])

# Remove rows where either 'city' or 'state' is null
df_cleaned = df.dropna(subset=['city', 'state'])

# Display data count after removal to verify changes
print("Number of rows after removing nulls:", df_cleaned.shape[0])

Original number of rows: 1000
Number of rows after removing nulls: 999

In [29]:
# Save the modified dataset
df.to_csv('clean-fortune-1000.csv', index=False)

In [32]:
# Generate csv to import into fortune_1000 table in database

# Load the fortune 10000 data
fortune_1000_df = pd.read_csv("clean-fortune-1000.csv")

# Load city data
city_df = pd.read_csv("city-table.csv")
city_df.rename(columns={'id': 'city_id'}, inplace=True)

# Merge the DataFrames to map city_id based on city and state
merged_df = pd.merge(fortune_1000_df, city_df, on=['city', 'state'], how='left')  

# Check for any entries that did not get a city_id (these will need to be addressed)
print(merged_df[merged_df['city_id'].isnull()])

print(merged_df.head())

Empty DataFrame
Columns: [name, curr_rank, rank_change, revenue, profit, num_of_employees, sector, city, state, newcomer, ceo_founder, ceo_woman, profitable, prev_rank, website, ticker, market_cap, city_id]
Index: []
                 name  curr_rank  rank_change   revenue   profit  \
0             Walmart          1            0  572754.0  13673.0
1              Amazon          2            0  469822.0  33364.0
2               Apple          3            0  365817.0  94680.0
3          CVS Health          4            0  292111.0   7910.0
4  UnitedHealth Group          5            0  287597.0  17285.0

   num_of_employees       sector         city         state newcomer  \
0           2300000    Retailing  bentonville      arkansas       no
1           1608000    Retailing      seattle    washington       no
2            154000   Technology    cupertino    california       no
3            258000  Health Care   woonsocket  rhode island       no
4            350000  Health Care   minnetonka     minnesota       no

  ceo_founder ceo_woman profitable  prev_rank                        website  \
0          no        no        yes          1  https://www.stock.walmart.com
1          no        no        yes          2                 www.amazon.com
2          no        no        yes          3                  www.apple.com
3          no       yes        yes          4      https://www.cvshealth.com
4          no        no        yes          5      www.unitedhealthgroup.com

  ticker market_cap  city_id
0    WMT     352037     1244
1   AMZN    1202717    32821
2   AAPL    2443962     2146
3    CVS     125204    27548
4    UNH     500468    14821

In [33]:
# Reorder columns to make 'city_id' the first column
# Get a list of all columns, then filter out 'city_id'
cols = merged_df.columns.tolist()
cols = ['city_id'] + [col for col in cols if col != 'city_id']

# Reassign reordered columns back to the DataFrame
merged_df = merged_df[cols]

print(merged_df.head())

   city_id                name  curr_rank  rank_change   revenue   profit  \
0     1244             Walmart          1            0  572754.0  13673.0
1    32821              Amazon          2            0  469822.0  33364.0
2     2146               Apple          3            0  365817.0  94680.0
3    27548          CVS Health          4            0  292111.0   7910.0
4    14821  UnitedHealth Group          5            0  287597.0  17285.0

   num_of_employees       sector         city         state newcomer  \
0           2300000    Retailing  bentonville      arkansas       no
1           1608000    Retailing      seattle    washington       no
2            154000   Technology    cupertino    california       no
3            258000  Health Care   woonsocket  rhode island       no
4            350000  Health Care   minnetonka     minnesota       no

  ceo_founder ceo_woman profitable  prev_rank                        website  \
0          no        no        yes          1  https://www.stock.walmart.com
1          no        no        yes          2                 www.amazon.com
2          no        no        yes          3                  www.apple.com
3          no       yes        yes          4      https://www.cvshealth.com
4          no        no        yes          5      www.unitedhealthgroup.com

  ticker market_cap
0    WMT     352037
1   AMZN    1202717
2   AAPL    2443962
3    CVS     125204
4    UNH     500468

In [34]:
# Drop the city and state columns as they are no longer needed
merged_df.drop(columns=['city', 'state'], inplace=True)

print(merged_df.head())

   city_id                name  curr_rank  rank_change   revenue   profit  \
0     1244             Walmart          1            0  572754.0  13673.0
1    32821              Amazon          2            0  469822.0  33364.0
2     2146               Apple          3            0  365817.0  94680.0
3    27548          CVS Health          4            0  292111.0   7910.0
4    14821  UnitedHealth Group          5            0  287597.0  17285.0

   num_of_employees       sector newcomer ceo_founder ceo_woman profitable  \
0           2300000    Retailing       no          no        no        yes
1           1608000    Retailing       no          no        no        yes
2            154000   Technology       no          no        no        yes
3            258000  Health Care       no          no       yes        yes
4            350000  Health Care       no          no        no        yes

   prev_rank                        website ticker market_cap
0          1  https://www.stock.walmart.com    WMT     352037
1          2                 www.amazon.com   AMZN    1202717
2          3                  www.apple.com   AAPL    2443962
3          4      https://www.cvshealth.com    CVS     125204
4          5      www.unitedhealthgroup.com    UNH     500468

In [35]:
# Save the updated DataFrame to a new CSV file, ready for database import
merged_df.to_csv('importable-fortune-1000.csv', index=False)

In [36]:
import numpy as np

df = pd.read_csv('importable-fortune-1000.csv')

# Replace '-' with NaN in the 'market_cap' column
df['market_cap'] = df['market_cap'].replace('-', np.nan)

df.to_csv('importable-fortune-1000.csv', index=False)